@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    overflow: hidden;
    margin: 0;
    padding: 56px;
}

header {
    display: flex;
    justify-content: flex-start;
    flex: 0 0 auto;
}

.navbar-brand {
    font-family: 'Lora';
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    align-items: stretch;
}

h3, h2 {
    font-family: 'Lora';
    align-self: center;
    padding-top: 5px;
}

.messages, .post {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 0;
}

.post {
    margin-bottom: 10px;
}

.message-received {
    align-self: flex-start;
    margin-bottom: 5px;
    margin-left: 5px;
}

.message-sent {
    align-self: flex-end;
    margin-bottom: 5px;
    text-align: right;
    margin-right: 5px;
}

.bubble, .post-text {
  padding: 0.6rem 0.9rem;
  border-radius: .9rem;
  line-height: 1.3;
  word-wrap: break-word;
}

.message-sent .bubble {
  background: #bf9dbf;
  color: #003b40;
  border-bottom-right-radius: 0.25rem;
}

.message-received .bubble, .saved-message {
  background: #dad3da;
  color: #333;
  border-bottom-left-radius: 0.25rem;
}


.timestamp {
    align-self: flex-end;
    font-style: italic;
    font-size: .75em;
    color: gray;
}

.btn.btn-primary {
    /* background-color: #67d8e7;
    border-color: #67dae7; */
    background-color: #596d73;
    border-color: #596d73;
}

footer {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

footer > div {
    padding-top: 5px;
    padding-right: 8px;
}

p {
    color: #bf9dbf;
    text-decoration: none;
}
